node_modules/

.nuxt/
dist/

package-lock.json
yarn.lock

Dockerfile
.dockerignore

.git/
.gitignore

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

npm-debug.log
yarn-error.log
.env

*.log
*.md
